[[source]]

name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true


[dev-packages]



[packages]

pylint = "*"
rope = "*"
"jinja2" = "*"
click = "*"


[requires]

python_version = "3.6"