[submodule "tlycken-fsharp"]
	path = tlycken-fsharp
	url = https://github.com/tlycken/advent-of-code-2017.git
[submodule "albert-arvidsson-elixir"]
	path = albert-arvidsson-elixir
	url = git@github.com:scmx/advent-of-code-2017-elixir
[submodule "meck-haskell"]
	path = meck-haskell
	url = https://github.com/meck/AoC2017.git
[submodule "martin-pettersson-c++"]
	path = martin-pettersson-c++
	url = https://github.com/martin-pettersson/advent_of_code_2017.git
[submodule "k0nserv-rust"]
	path = k0nserv-rust
	url = https://github.com/k0nserv/advent-of-code-2017.git
[submodule "cruzzan-golang"]
	path = cruzzan-golang
	url = git@github.com:cruzzan/AdventOfCode2017.git
[submodule "simon-nystrom-python"]
	path = simon-nystrom-python
	url = git@github.com:simon-nystrom/adventofcode-2017.git
[submodule "bowald-python2.7"]
	path = bowald-python2.7
	url = git@github.com:bowald/advent-of-code-2017.git
[submodule "knyl-elixir"]
	path = knyl-elixir
	url = https://github.com/knyl/aoc2017.git
[submodule "timofurrer-python3"]
	path = timofurrer-python3
	url = https://github.com/timofurrer/advent-of-code
[submodule "maddox-python"]
	path = maddox-python
	url = git@github.com:AmandaNilsson/Advent-of-code-17.git
[submodule "erikbrannstrom-python3"]
	path = erikbrannstrom-python3
	url = git@github.com:erikbrannstrom/advent-of-code-2017.git
[submodule "mangefox-kotlin"]
	path = mangefox-kotlin
	url = https://github.com/mangefox/advent_of_code_2017
[submodule "olssonm-php"]
	path = olssonm-php
	url = git@github.com:olssonm/advent-of-code.git
[submodule "ivanpedersen-go"]
	path = ivanpedersen-go
	url = https://github.com/ivanpedersen/aoc17.git
[submodule "rellem-cfml"]
	path = rellem-cfml
	url = https://github.com/rellem/advent_of_code_2017.git
[submodule "orangeblock-clojure"]
	path = orangeblock-clojure
	url = https://github.com/orangeblock/advent-of-code
[submodule "pirfalt-undecided"]
	path = pirfalt-undecided
	url = git@github.com:pirfalt/advent-of-code-2017.git
[submodule "hakfah-erlang"]
	path = hakfah-erlang
	url = https://github.com/HFahlstedt/AdventOfCode2017.git
[submodule "masssssy-python"]
	path = masssssy-python
	url = https://github.com/Masssssy/adventofcode2017.git
[submodule "prositen-python"]
	path = prositen-python
	url = git@github.com:prositen/advent-of-code.git
[submodule "LinAGKar-rust"]
	path = LinAGKar-rust
	url = git@github.com:LinAGKar/advent-of-code-2017-rust.git
[submodule "aoc2017_idstam"]
	path = aoc2017_idstam
	url = https://github.com/idstam/aoc2017_idstam
[submodule "IAmBullsaw-c++"]
	path = IAmBullsaw-c++
	url = git@github.com:IAmBullsaw/adventofcode17.git
[submodule "albertdahlin-elm"]
	path = albertdahlin-elm
	url = git@github.com:albertdahlin/AdventOfCode.git
[submodule "baboons-php7"]
	path = baboons-php7
	url = https://github.com/baboons/advent-of-code-2017
[submodule "LinAGKar-python"]
	path = LinAGKar-python
	url = git@github.com:LinAGKar/advent-of-code-2017-python.git
[submodule "plux-erlang"]
	path = plux-erlang
	url = git@github.com:plux/advent2017-erl.git
[submodule "hillerstorm-Elm"]
	path = hillerstorm-Elm
	url = https://github.com/hillerstorm/advent-of-code-2017.git
