################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tor_selden-csharp/tor_selden-csharp/bin/Debug
